/bin/
/scripts/hosts
/scripts/manageVM.py
/scripts/environment.py

# java
*.class
*.jar
*.war
*.ear

# python
*.pyc

# intellij files
/.idea/
*.iml

# backup files
*~
*.bak
/koralConfig.xml
/build/
/target/
