/bin/
/scripts/hosts
/scripts/manageVM.py
/scripts/environment.py

# java
*.class
*.jar
*.war
*.ear

# python
*.pyc

# intellij files
/.idea/
*.iml

# eclipse files
.project
.classpath
/.settings/

# backup files
*~
*.bak
/koralConfig.xml
/build/
/target/
# Lock files
**/.~lock*

# Output files of StatisticsDB
/bigone_*_chunks.csv
/SingleFileGraphStatisticsDatabase-statistics.csv
/MultiFileGraphStatisticsDatabase-statistics.csv
/fileDistribution-*.csv
/metastatistics-*.txt
/storageStatistics-*.csv
/*results.csv
/storage/
/gc.log
/subbenchmarks.csv
/CPUCB*.csv
/SLRU-CacheSizesLog*.csv
/SLRU-HitsHistogram*.csv
/db
/results-read.csv
